.graphics-container {
}
.graphics-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background-color: olivedrab; */
}

.print-graphics-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em;
	padding: 1em;
	/* background-color: mediumvioletred; */
}
.print-graphics-col {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.print-graphics-single-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.print-graphics-image {
	width: 80%;
	border-radius: 1em;
	margin: 2em;
}
.print-graphics-text {
	font-size: 1.8em;
	text-transform: uppercase;
	padding: 0.5em;
	margin: 0.2em;
}
.print-graphics-col-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	/* background-color: palegreen; */
	margin: 1em 0em;
}
.print-graphics-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
#graphics-card {
	display: flex;
	flex-direction: row;
	align-items: center;
}

@media only screen and (max-width: 600px) {
	.print-graphics-text {
		font-size: 1.3em;
	}
}
