@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');




.body {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
    width: 100%;
}

.header-container {
    width: 100%;
}

.header-row {
	display: flex;
    align-items: center;
    height: 100vh;
}

.header-col {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.header-col-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-col-image{
    width:80%;
    padding: 2em 0em;
}

.aboutText {
    width:50%;
	color: #727272;
    margin: 1em 0em;
	text-align: center;
}
