@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.navbar-container {
	background-color: #3da4ab;
	padding: 1.5em;
	font-size: 1.4em;
}
.nav-link-text {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 0.3em;
	text-align: center;
	font-size: 1.2em;
}
