.projects-container {
	background-color: #fe8a71;
	/* padding: 10em; */
}

.projects-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* margin: 5em 0em; */
}
.projects-col {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.9em 0em;
	padding: 0.5em;
}
.project-title-container {
	display: flex;
	justify-content: center;
}
.project-title {
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.2em;
}
.project-image-container {
	display: flex;
	justify-content: center;
}
.project-image {
	width: 75%;
	border-radius: 1em;
	filter: drop-shadow(0.25em 0.25em 0.5em #00000065);
}
.links-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.links-col {
	display: flex;
	align-items: center;
	justify-content: center;
}
.links-col-text {
	font-size: 0.8em;
	padding: 0.2em;
	color: #4a4e4d;
}
.link-icon {
	color: #4a4e4d;
}

@media only screen and (max-width: 600px) {
	#skills-card {
		width: 33%;
	}
	.projects-container {
		padding: 0;
	}
}
