@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.project-info-container {
	background-color: #f6cd61;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
}
.project-info-row {
	width: 80%;
	border-style: solid;
	border-color: #4a4e4d;
	padding: 2em;
	margin: 1em 1em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
}
.project-info-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.project-info-title-container {
	display: flex;
	justify-content: center;
    margin:0.5em 0em;
}
.project-info-title {
	color: #4a4e4d;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
}
.project-info-image-container {
	display: flex;
	justify-content: center;
    margin:0.5em 0em;
}
.project-info-image {
	width: 50%;
}
.project-info-text {
	font-size: 0.7em;
}
.project-info-headline {
	color: #4a4e4d;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
    margin:0.5em 0em;
}
