@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.skills-container {
	background-color: #e6e6ea;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* padding: 10em; */
}

.skills-headline-container {
	background-color: #e6e6ea;
	padding: 5em;
}

.skills-col {
	/* margin: 2em 0em; */
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	/* padding: 1em; */
}
#skills-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
	margin: 2em 0em;
	padding: 0.5em;
	text-align: center;
	background: transparent;
	border: none;
}
.skills-card-text {
	font-family: 'Montserrat', sans-serif;
	margin: 1em 0em;
	font-size: 1.2em;
	text-transform: uppercase;
}

.skills-info-container p {
	font-size: 1.1em;
	line-height: 0.9em;
	text-align: center;
	color: #727272;
}
@media only screen and (max-width: 600px) {
	#skills-card {
		width: 33%;
	}
	.skills-card-text {
		font-size: 0.9em;
	}
}
